.loadingCont {
  margin-top: 20px;
}
.loading {
  font-size: 30px;
  color: #efb4b4;
  text-align: center;
  font-weight: 600;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
