.container {
  width: inherit;
  margin-top: 20px;
  padding-left: 5px;
}
.container h2 {
  font-size: 18px;
}
.btnContainer {
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;

  overflow-y: scroll;
  margin-bottom: 10px;
}
.btnContainer::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #a699e5;
}
.btnContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff;
}
.btnContainer::-webkit-scrollbar-thumb:hover {
  background-color: #220d71;
}

.zeroLen {
  font-size: 20px;
  margin-top: 10px;
  color: #fff;
  text-align: center;
}
